# Analysis of Data Analyst Job Offers on Glassdoor

In [2]:
# imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score, mean_squared_error
import seaborn as sns
%matplotlib inline

In [3]:
df = pd.read_csv('./DataAnalyst.csv')
df.head(100)

,id,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Easy Apply
0,0,"Data Analyst, Center on Immigration and Justic...",$37K-$66K (Glassdoor est.),Are you eager to roll up your sleeves and harn...,3.2,Vera Institute of Justice\n3.2,"New York, NY","New York, NY",201 to 500 employees,1961,Nonprofit Organization,Social Assistance,Non-Profit,$100 to $500 million (USD),-1,True
1,1,Quality Data Analyst,$37K-$66K (Glassdoor est.),Overview\n\nProvides analytical and technical ...,3.8,Visiting Nurse Service of New York\n3.8,"New York, NY","New York, NY",10000+ employees,1893,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,-1
2,2,"Senior Data Analyst, Insights & Analytics Team...",$37K-$66K (Glassdoor est.),Weâ€™re looking for a Senior Data Analyst who ha...,3.4,Squarespace\n3.4,"New York, NY","New York, NY",1001 to 5000 employees,2003,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,GoDaddy,-1
3,3,Data Analyst,$37K-$66K (Glassdoor est.),Requisition NumberRR-0001939\nRemote:Yes\nWe c...,4.1,Celerity\n4.1,"New York, NY","McLean, VA",201 to 500 employees,2002,Subsidiary or Business Segment,IT Services,Information Technology,$50 to $100 million (USD),-1,-1
4,4,Reporting Data Analyst,$37K-$66K (Glassdoor est.),ABOUT FANDUEL GROUP\n\nFanDuel Group is a worl...,3.9,FanDuel\n3.9,"New York, NY","New York, NY",501 to 1000 employees,2009,Company - Private,Sports & Recreation,"Arts, Entertainment & Recreation",$100 to $500 million (USD),DraftKings,True
5,5,Data Analyst,$37K-$66K (Glassdoor est.),About Cubist\nCubist Systematic Strategies is ...,3.9,Point72\n3.9,"New York, NY","Stamford, CT",1001 to 5000 employees,2014,Company - Private,Investment Banking & Asset Management,Finance,Unknown / Non-Applicable,-1,-1
6,6,Business/Data Analyst (FP&A),$37K-$66K (Glassdoor est.),Two Sigma is a different kind of investment ma...,4.4,Two Sigma\n4.4,"New York, NY","New York, NY",1001 to 5000 employees,2001,Company - Private,Investment Banking & Asset Management,Finance,Unknown / Non-Applicable,-1,-1
7,7,Data Science Analyst,$37K-$66K (Glassdoor est.),Data Science Analyst\n\nJob Details\nLevel\nEx...,3.7,GNY Insurance Companies\n3.7,"New York, NY","New York, NY",201 to 500 employees,1914,Company - Private,Insurance Carriers,Insurance,$100 to $500 million (USD),"Travelers, Chubb, Crum & Forster",True
8,8,Data Analyst,$37K-$66K (Glassdoor est.),The Data Analyst is an integral member of the ...,4.0,DMGT\n4.0,"New York, NY","London, United Kingdom",5001 to 10000 employees,1896,Company - Public,Venture Capital & Private Equity,Finance,$1 to $2 billion (USD),"Thomson Reuters, Hearst, Pearson",-1
9,9,"Data Analyst, Merchant Health",$37K-$66K (Glassdoor est.),About Us\n\nRiskified is the AI platform power...,4.4,Riskified\n4.4,"New York, NY","New York, NY",501 to 1000 employees,2013,Company - Private,Research & Development,Business Services,Unknown / Non-Applicable,"Signifyd, Forter",-1
10,10,Data Analyst,$37K-$66K (Glassdoor est.),NYU Grossman School of Medicine is one of the ...,4.0,NYU Langone Health\n4.0,"New York, NY","New York, NY",10000+ employees,1841,Hospital,Health Care Services & Hospitals,Health Care,$5 to $10 billion (USD),"NewYork-Presbyterian Hospital, Northwell Health",-1
11,11,Data Analyst,$37K-$66K (Glassdoor est.),BulbHead is currently seeking a Data Analyst t...,-1.0,BulbHead,"Fairfield, NJ",-1,1 to 50 employees,-1,Company - Private,-1,-1,Unknown / Non-Applicable,-1,-1
12,12,DATA ANALYST,$37K-$66K (Glassdoor est.),Job Summary:\n\nThe Clinical Research Data Ana...,3.7,Montefiore Medical\n3.7,"New York, NY","Bronx, NY",10000+ employees,1884,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,-1
13,13,Senior Data Analyst,$37K-$66K (Glassdoor est.),About Known\n\nKnown is a modern marketing com...,3.0,Known\n3.0,"New York, NY","New York, NY",201 to 500 employees,2004,Company - Private,Advertising & Marketing,Business Services,$100 to $500 million (USD),-1,True
14,14,Investment Advisory Data Analyst,$37K-$66K (Glassdoor est.),Investment Advisory Compliance Opportunity in ...,3.4,Advisor Group\n3.4,"Jersey City, NJ","Phoenix, AZ",1001 to 5000 employees,2016,Company - Private,Brokerage Services,Finance,$1 to $5 million (USD),-1,-1
15,15,Sustainability Data Analyst,$37K-$66K (Glassdoor est.),Job Description\nRole Description\n\nSustainab...,3.6,CodeGreen Solutions\n3.6,"New York, NY","New York, NY",1 to 50 employees,-1,Company - Private,Building & Personnel Services,Business Services,Unknown / Non-Applicable,-1,-1
16,16,Data Analyst,$37K-$66K (Glassdoor est.),Undertone stands alone among AdTech and ad net...,3.8,Undertone\n3.8,"New York, NY","New York, NY",201 to 500 employees,2001,Subsidiary or Business Segment,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"DoubleClick, Specific Media, Collective",True
17,17,Clinical Data Analyst,$37K-$66K (Glassdoor est.),About Us:\n\nNYSTEC is a non-profit technology...,3.8,NYSTEC\n3.8,"New York, NY","Rome, NY",51 to 200 employees,1996,Nonprofit Organization,Consulting,Business Services,$25 to $50 million (USD),"KPMG, Accenture, Deloitte",-1
18,18,DATA PROGRAMMER/ANALYST,$37K-$66K (Glassdoor est.),Company Description\n\nEDUCATION DEVELOPMENT C...,3.9,"Education Development Center, Inc.\n3.9","New York, NY","Waltham, MA",501 to 1000 employees,1958,Nonprofit Organization,Research & Development,Business Services,$100 to $500 million (USD),-1,-1
19,19,Data Analyst,$37K-$66K (Glassdoor est.),"About Us\n\nAt Teachers Pay Teachers (TpT), we...",4.9,Teachers Pay Teachers\n4.9,"New York, NY","New York, NY",51 to 200 employees,2006,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,-1,-1
20,20,"Product Analyst, Data Science",$37K-$66K (Glassdoor est.),Note: By applying to this position your applic...,4.4,Google\n4.4,"New York, NY","Mountain View, CA",10000+ employees,1998,Company - Public,Internet,Information Technology,$10+ billion (USD),"Microsoft, Apple, Facebook",-1
21,21,Data Science Analyst,$37K-$66K (Glassdoor est.),"Job Description\nOur client, a music streaming...",-1.0,MUSIC & Entertainment,"New York, NY","Marina del Rey, CA",Unknown,-1,Company - Public,-1,-1,Unknown / Non-Applicable,-1,-1
22,22,Data Analyst - Intex Developer,$37K-$66K (Glassdoor est.),Data Analyst - Intex Developer\n\n\nNew York\n...,3.3,Macquarie Group\n3.3,"New York, NY","Sydney, Australia",10000+ employees,1969,Company - Public,Investment Banking & Asset Management,Finance,$5 to $10 billion (USD),"Goldman Sachs, Commonwealth Bank of Australia,...",-1
23,23,Data Analyst,$37K-$66K (Glassdoor est.),Haven Life is an insurtech innovator at MassMu...,3.5,Andiamo\n3.5,"New York, NY","Warren, MI",201 to 500 employees,-1,Company - Private,Casual Restaurants,"Restaurants, Bars & Food Services",$1 to $5 million (USD),-1,-1
24,24,Entry Level / Jr. Data Analyst,$37K-$66K (Glassdoor est.),Dash Technologies is an industry leading softw...,3.8,Dash Technologies Inc\n3.8,"New York, NY","Columbus, OH",1 to 50 employees,-1,Unknown,-1,-1,Unknown / Non-Applicable,-1,-1
25,25,Data Analyst,$37K-$66K (Glassdoor est.),Data Analyst (Decision Science)\n\nHearst is a...,4.0,Hearst Communications\n4.0,"New York, NY","San Francisco, CA",1 to 50 employees,-1,Company - Private,Advertising & Marketing,Business Services,Less than $1 million (USD),-1,-1
26,26,Data + Business Intelligence Analyst,$37K-$66K (Glassdoor est.),We are building Duolingo's newly formed FP&A /...,5.0,Duolingo\n5.0,"New York, NY","Pittsburgh, PA",201 to 500 employees,2011,Company - Private,Internet,Information Technology,$10 to $25 million (USD),-1,-1
27,27,"Data Analyst, Product",$37K-$66K (Glassdoor est.),"About Ro\nFounded in 2017, Ro is a patient-dri...",4.8,Ro\n4.8,"New York, NY","New York, NY",51 to 200 employees,2017,Company - Private,Health Care Services & Hospitals,Health Care,Unknown / Non-Applicable,-1,-1
28,28,Data Analyst Entry Level,$37K-$66K (Glassdoor est.),Type: Paid Intern (in a farm team)\n\nFunction...,3.7,Endai\n3.7,"New York, NY","New York, NY",1 to 50 employees,-1,Company - Private,Advertising & Marketing,Business Services,$1 to $5 million (USD),-1,-1
29,29,Data Analyst,$37K-$66K (Glassdoor est.),The Company\n\nBlueLabs is a leading provider ...,4.7,BlueLabs\n4.7,"New York, NY","Washington, DC",1 to 50 employees,-1,Company - Private,Research & Development,Business Services,Unknown / Non-Applicable,-1,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,70,Data Analyst 2,$51K-$88K (Glassdoor est.),Duration: 5 Months\n\nSchedule: Can be 8a.m. â€“...,3.7,eTeam Inc.\n3.7,"New York, NY","South Plainfield, NJ",51 to 200 employees,1999,Company - Private,Staffing & Outsourcing,Business Services,$50 to $100 million (USD),"Artech Information Systems, Mindlance, Tech Ma...",-1
71,71,Entry Level Data Analyst,$51K-$88K (Glassdoor est.),"Impakt Advisors is a brand new (2018), NYC bas...",-1.0,impakt Advisors,"New York, NY","New York, NY",1 to 50 employees,-1,Company - Private,Consulting,Business Services,Unknown / Non-Applicable,-1,-1
72,72,Marketing Data Analyst,$51K-$88K (Glassdoor est.),Marketing Data Analyst\n\nWe are a leading U.S...,3.6,Current\n3.6,"New York, NY","Colorado Springs, CO",201 to 500 employees,-1,Company - Public,-1,-1,Unknown / Non-Applicable,-1,-1
73,73,Data/Information Mgt Analyst,$51K-$88K (Glassdoor est.),The Data/Information Mgt Analyst is a strategi...,3.7,Citi\n3.7,"New York, NY","New York, NY",10000+ employees,1812,Company - Public,Investment Banking & Asset Management,Finance,$10+ billion (USD),-1,-1
74,74,Business Data Analyst,$51K-$88K (Glassdoor est.),"""This role is currently work-from-home and wil...",3.6,Axelon Services Corporation\n3.6,"New York, NY","New York, NY",501 to 1000 employees,-1,Company - Private,Staffing & Outsourcing,Business Services,$100 to $500 million (USD),-1,-1
75,75,Information Systems Officer (Data Analyst),$51K-$88K (Glassdoor est.),Org. Setting and Reporting\n\nThe United Natio...,4.1,United Nations\n4.1,"New York, NY","New York, NY",10000+ employees,1945,Government,Federal Agencies,Government,Unknown / Non-Applicable,-1,-1
76,76,Media Science Big Data Analyst,$51K-$88K (Glassdoor est.),Position SummaryOur Team: Media Strategy and A...,3.5,"Discovery Communications, Inc.\n3.5","New York, NY","New York, NY",10000+ employees,1985,Company - Public,TV Broadcast & Cable Networks,Media,$5 to $10 billion (USD),-1,-1
77,77,Data Analyst,$51K-$88K (Glassdoor est.),Data Analyst**job details:**+ location:Jersey ...,3.7,Randstad\n3.7,"Jersey City, NJ","Atlanta, GA",1001 to 5000 employees,-1,Subsidiary or Business Segment,Staffing & Outsourcing,Business Services,Unknown / Non-Applicable,-1,-1
78,78,Data Analyst,$51K-$88K (Glassdoor est.),Job Description\nMulberry is disrupting a $40B...,5.0,Mulberry Technology\n5.0,"New York, NY","New York, NY (US), NY",1 to 50 employees,-1,Company - Private,-1,-1,Unknown / Non-Applicable,-1,-1
79,79,Data analyst with Python,$51K-$88K (Glassdoor est.),Title: Data analyst with Python\n\nJob Type: 6...,4.0,Two95 International Inc.\n4.0,"New York, NY","Cherry Hill, NJ",1 to 50 employees,-1,Company - Private,Staffing & Outsourcing,Business Services,$1 to $5 million (USD),-1,-1
80,80,Data Analyst,$51K-$88K (Glassdoor est.),Job Description\nRole: Data Analyst\nProject d...,4.8,SoftStandard Solutions\n4.8,"New York, NY","Fremont, CA",51 to 200 employees,-1,Company - Private,-1,-1,Unknown / Non-Applicable,-1,-1
81,81,Data Analyst,$51K-$88K (Glassdoor est.),"Los Angeles, CA | New York, NY\n\nEmail career...",5.0,"EDO, Inc.\n5.0","New York, NY","Los Angeles, CA",1 to 50 employees,-1,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,-1,-1
82,82,"Healthcare Data Analyst, Qsight",$51K-$88K (Glassdoor est.),Guidepoint's Qsight team turns rows of data in...,3.3,Guidepoint\n3.3,"New York, NY","New York, NY",501 to 1000 employees,2003,Company - Private,Research & Development,Business Services,Unknown / Non-Applicable,"Coleman Research, AlphaSights, Third Bridge",True
83,83,BA/Data Analyst,$51K-$88K (Glassdoor est.),"BA/Data Analyst\nOur client, a global provider...",4.1,Mitchell Martin\n4.1,"New York, NY","New York, NY",501 to 1000 employees,1984,Company - Private,Staffing & Outsourcing,Business Services,$100 to $500 million (USD),-1,-1
84,84,Data Analyst Python,$51K-$88K (Glassdoor est.),"Use statistical analysis, machine learning, pa...",4.0,Lorven Technologies Inc\n4.0,"New York, NY","Plainsboro, NJ",1 to 50 employees,-1,Company - Private,Accounting,Accounting & Legal,Less than $1 million (USD),-1,-1
85,85,"Data Analyst, Bitcoin Trading Firm",$51K-$88K (Glassdoor est.),Our client is an innovative bitcoin marketplac...,-1.0,Fintech Recruiters,"New York, NY","Dublin, Ireland",Unknown,-1,Company - Private,-1,-1,Unknown / Non-Applicable,-1,-1
86,86,Data Analyst-BA,$51K-$88K (Glassdoor est.),This is for Citi.\n\nBA/Data Analyst\n\n- Must...,1.0,Sphinix Network Solutions Inc.\n1.0,"New York, NY","New York, NY",1 to 50 employees,-1,Company - Private,IT Services,Information Technology,Less than $1 million (USD),-1,-1
87,87,Data Analytics Solutions Analyst,$51K-$88K (Glassdoor est.),"Praescient Analytics, LLC (Praescient) is a Ve...",3.1,Praescient Analytics\n3.1,"New York, NY","Alexandria, VA",51 to 200 employees,2011,Company - Private,Consulting,Business Services,$10 to $25 million (USD),-1,-1
88,88,Quantitative Data Analyst,$51K-$88K (Glassdoor est.),**We are still hiring and interviewing for thi...,4.5,Global Atlantic Financial Group\n4.5,"New York, NY","New York, NY",1001 to 5000 employees,2004,Company - Private,Insurance Carriers,Insurance,Unknown / Non-Applicable,-1,True
89,89,Data Analyst,$51K-$88K (Glassdoor est.),The Ombudsmanâ€™s Office (OMB) is a neutral and ...,3.4,FINRA\n3.4,"New York, NY","Washington, DC",1001 to 5000 employees,2007,Nonprofit Organization,Brokerage Services,Finance,$500 million to $1 billion (USD),-1,-1
90,90,Data Analyst,$51K-$87K (Glassdoor est.),NYU Grossman School of Medicine is one of the ...,-1.0,NYU Langone Medical Center,"New York, NY",-1,-1,-1,-1,-1,-1,-1,-1,-1
91,91,"Descriptive Analytics Data Analyst, IB",$51K-$87K (Glassdoor est.),Position Overview:\nThe\ndescriptive analytics...,3.6,Jefferies\n3.6,"New York, NY","New York, NY",1001 to 5000 employees,1962,Company - Public,Investment Banking & Asset Management,Finance,$2 to $5 billion (USD),-1,-1
92,92,Data Analyst,$51K-$87K (Glassdoor est.),RGP is a global consulting firm helping some o...,4.1,RGP\n4.1,"New York, NY","Irvine, CA",1001 to 5000 employees,1996,Company - Public,Consulting,Business Services,$500 million to $1 billion (USD),"Deloitte, Huron Consulting Group, Point B",-1
93,93,Data Analyst,$51K-$87K (Glassdoor est.),About Tachyon Technologies:\n\nTachyon Technol...,4.4,Tachyon Technologies\n4.4,"New York, NY","Irving, TX",201 to 500 employees,2011,Company - Private,IT Services,Information Technology,$10 to $25 million (USD),-1,-1
94,94,Data Analyst,$51K-$87K (Glassdoor est.),Job Description\n\n\nJob #: 1076857\n\nRole: F...,3.8,Apex Systems\n3.8,"Jersey City, NJ","Glen Allen, VA",1001 to 5000 employees,1995,Subsidiary or Business Segment,Staffing & Outsourcing,Business Services,$2 to $5 billion (USD),"TEKsystems, Insight Global, Accenture",True
95,95,Data Analyst,$51K-$87K (Glassdoor est.),Hagerty Consulting (www.hagertyconsulting.com)...,3.2,Hagerty Consulting\n3.2,"New York, NY","Evanston, IL",1 to 50 employees,-1,Company - Private,Consulting,Business Services,$1 to $5 million (USD),-1,-1
96,96,Data Analyst,$51K-$87K (Glassdoor est.),Gainful is changing the way people shop for nu...,-1.0,Gainful Health,"New York, NY","San Mateo, CA",1 to 50 employees,-1,Company - Private,Food & Beverage Stores,Retail,Unknown / Non-Applicable,-1,-1
97,97,Business Data Analyst,$51K-$87K (Glassdoor est.),Job Description\nCortex is a premier staffing ...,3.8,Cortex consultants LLC\n3.8,"New York, NY","North Brunswick, NJ",501 to 1000 employees,-1,Company - Private,Consulting,Business Services,Unknown / Non-Applicable,-1,-1
98,98,Data Analyst,$51K-$87K (Glassdoor est.),Medly is a patient-first digital pharmacy that...,4.7,Medly Pharmacy\n4.7,"Brooklyn, NY","Brooklyn, NY",201 to 500 employees,2017,Unknown,Health Care Services & Hospitals,Health Care,Unknown / Non-Applicable,-1,-1
99,99,Healthcare Data Analyst,$51K-$87K (Glassdoor est.),Healthcare Data Analyst\n\nPosition Descriptio...,2.3,Fair Health\n2.3,"New York, NY","New York, NY",1 to 50 employees,-1,Nonprofit Organization,-1,-1,$10 to $25 million (USD),-1,-1

## Data Understanding

In [4]:
df.describe()

              id       Rating      Founded
count  2253.0000  2253.000000  2253.000000
mean   1126.0000     3.160630  1398.522858
std     650.5294     1.665228   901.929251
min       0.0000    -1.000000    -1.000000
25%     563.0000     3.100000    -1.000000
50%    1126.0000     3.600000  1979.000000
75%    1689.0000     4.000000  2002.000000
max    2252.0000     5.000000  2019.000000

## Data Preparation

In [ ]:
# Replace -1 values with NaN/False respectively

## Modeling